<section class="c-social o-box">
    <ul>
        <li>
            <span class="fas fa-envelope"></span>
            <a href="mailto:{{ site.data.social.email }}">{{ site.data.social.email }}</a></li>
        <li>
            <span class="fas fa-globe"> </span>
            <a href="{{ site.data.social.website.link }}">{{ site.data.social.website.text }}</a></li>
        <li>
            <span class="fab fa-linkedin"></span>
            <a href="https://linkedin.com/in/{{ site.data.social.linkedin }}/">{{ site.data.social.linkedin }}</a></li>
        <li>
            <span class="fab fa-github"></span>
            <a href="https://github.com/{{ site.data.social.github }}/">{{ site.data.social.github }}</a>
        </li>
        <li>
            <span class="fab fa-twitter"></span>
            <a href="https://twitter.com/{{ site.data.social.twitter }}/">{{ site.data.social.twitter }}</a>
        </li>
    </ul>
</section>
