<section class="c-social o-box">
    <ul>
        <li>
            <a href="mailto:{{ site.data.social.email }}" class="u-padding-vertical-small u-padding-vertical-none@tablet">
                <span class="fas fa-envelope"></span> {{ site.data.social.email }}
            </a>
        </li>
        <li>
            <a href="{{ site.data.social.website.link }}" class="u-padding-vertical-small u-padding-vertical-none@tablet">
                <span class="fas fa-globe"> </span> {{ site.data.social.website.text }}
            </a>
        </li>
        <li>
            <a href="https://linkedin.com/in/{{ site.data.social.linkedin }}/" class="u-padding-vertical-small u-padding-vertical-none@tablet">
                <span class="fab fa-linkedin"></span> {{ site.data.social.linkedin }}
            </a>
        </li>
        <li>
            <a href="https://github.com/{{ site.data.social.github }}/" class="u-padding-vertical-small u-padding-vertical-none@tablet">
                <span class="fab fa-github"></span> {{ site.data.social.github }}</a>
        </li>
        <li>
            <a href="https://twitter.com/{{ site.data.social.twitter }}/" class="u-padding-vertical-small u-padding-vertical-none@tablet">
                <span class="fab fa-twitter"></span> {{ site.data.social.twitter }}</a>
        </li>
    </ul>
</section>
