$float-types: (
        "right": "right",
        "left": "left",
        "none": "none",
);

@each $float-types, $type in $float-types {
  .u-float-#{$type} {
    float: #{$type}
  }
}

.u-float-clear {
  clear: both;
}

@if (variable-exists(mq-breakpoints)) {
  @each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {
    @include mq($from: $inuit-bp-name) {
      @each $float-types, $type in $float-types {
        .u-float-#{$type}#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
          float: #{$type}
        }
      }
      .u-float-clear#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
        clear: both;
      }
    }
  }
}
