@media print {
  * {
    float: none !important;
  }

  html {
    font-size: 12px;

    & body {
      display: block;
      height: 100% !important;
    }
  }

  a[href]:after {
    content: "\A(" attr(href) ")";
    white-space: pre-line;
  }

  .c-content {
    position: relative !important;
    width: 75% !important;
    right: 25% !important;
    left: auto !important;
  }

  .c-sidebar {
    position: relative !important;
    width: 25% !important;
    left: 75% !important;
    right: auto !important;

    > aside {
      flex-direction: column !important;
    }
  }

  .c-experience {
    page-break-after: always !important;
  }

  .c-education {
    page-break-before: always !important;
  }

  .u-padding {
    padding: 0 !important;
  }

  .o-wrapper {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .o-box {
    padding: 10px !important;
  }

  .c-header.u-padding-vertical-large {
    padding: 0 !important;
  }

  .c-interests {
    min-width: 250px !important;
  }

  h3,
  aside {
    margin-bottom: 10px !important;
  }
}
