.c-skills {
  ul {
    list-style: none;
    margin-left: 0;

    > li {
      display: inline;

      &:after {
        content: ',';
      }

      &:nth-last-child(2),
      &:last-child {
        &:after {
          content: '';
        }
      }

      &:last-child {
        &:before {
          content: 'and ';
        }
      }
    }
  }
}
